<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeSheetBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TimeSheetBuilder.Properties.Settings>
            <setting name="hVUKBayRaFJRSjL" serializeAs="String">
                <value>2vEL3BYgOQwLEXbI</value>
            </setting>
            <setting name="XmgJQbghcPMmtta" serializeAs="String">
                <value>rVjBNFk75iw0UXA3</value>
            </setting>
            <setting name="apicompanyname" serializeAs="String">
                <value>cwq2c_c</value>
            </setting>
            <setting name="apisite" serializeAs="String">
                <value>staging.connectwisedev.com</value>
            </setting>
            <setting name="apicookie" serializeAs="String">
                <value>TimesheetBuilder</value>
            </setting>
            <setting name="starttime" serializeAs="String">
                <value>09:00</value>
            </setting>
            <setting name="endtime" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="adminchargecode" serializeAs="String">
                <value>CW-Admin, Sales</value>
            </setting>
            <setting name="memberid" serializeAs="String">
                <value>mlaplante</value>
            </setting>
            <setting name="lunchdeduct" serializeAs="String">
                <value />
            </setting>
            <setting name="adminchargecodeid" serializeAs="String">
                <value>0</value>
            </setting>
        </TimeSheetBuilder.Properties.Settings>
    </userSettings>
</configuration>